{% extends "plantilla.html" %}

{% block titulo %} Sobre Nosotros {% endblock %}

{% block contenido %}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">¿Quienes Somos?</h1>
        <p class="col-md-8 fs-4">
            Bienvenidos a nuestra comunidad dedicada a la inclusión y el empoderamiento de personas con discapacidades. En nuestro viaje hacia la igualdad de oportunidades, nos hemos comprometido a construir un puente entre el talento y las oportunidades laborales.
        Creemos firmemente que la diversidad no solo enriquece nuestras vidas, sino también nuestros lugares de trabajo y comunidades. Nos esforzamos por crear un espacio donde cada individuo, independientemente de sus habilidades o desafíos, sea valorado, respetado y apoyado en su búsqueda de desarrollo profesional.
        Nuestra plataforma no se trata solo de conectar empleadores con empleados, sino de fomentar una cultura de inclusión, donde las diferencias son celebradas y cada persona tiene la oportunidad de alcanzar su máximo potencial. Creemos en la capacidad única de cada individuo para contribuir de manera significativa al mundo que nos rodea.
        Juntos, estamos desafiando percepciones, rompiendo barreras y construyendo un futuro más inclusivo y equitativo para todos. Únete a nosotros en este viaje hacia un mundo donde la diversidad sea la norma y donde cada persona, sin importar su origen o circunstancias, tenga la oportunidad de brillar.
        </p>
    </div>
</div>

{% endblock %}